@{
    ViewBag.Title = "Gerenciamento de Aniversários";
}

<div class="jumbotron" style="margin-top: 25px;">
    <h1>Gerenciamento de Aniversários</h1>
</div>

<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Cadastrar Pessoa", "Index", "Cadastro")</li>
    <li>@Html.ActionLink("Pesquisar Pessoas", "Index", "Busca")</li>
    <li>@Html.ActionLink("Listar Pessoas ", "Index", "Lista")</li>
</ul>
